body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-8px;
  width:801px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19572 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:801px;
  height:540px;
}
#u19573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u19573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19574 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:206px;
  height:30px;
  display:flex;
}
#u19574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19575 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:495px;
  height:30px;
  display:flex;
}
#u19575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u19576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19577 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:206px;
  height:30px;
  display:flex;
}
#u19577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19578 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:30px;
  width:495px;
  height:30px;
  display:flex;
}
#u19578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u19579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19580 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:206px;
  height:30px;
  display:flex;
}
#u19580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19581 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:60px;
  width:495px;
  height:30px;
  display:flex;
}
#u19581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
}
#u19582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19583 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:206px;
  height:30px;
  display:flex;
}
#u19583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19584 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:90px;
  width:495px;
  height:30px;
  display:flex;
}
#u19584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
}
#u19585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19586 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:206px;
  height:30px;
  display:flex;
}
#u19586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19587 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:120px;
  width:495px;
  height:30px;
  display:flex;
}
#u19587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
  display:flex;
}
#u19588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19589 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:150px;
  width:206px;
  height:30px;
  display:flex;
}
#u19589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19590 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:150px;
  width:495px;
  height:30px;
  display:flex;
}
#u19590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:30px;
  display:flex;
}
#u19591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19592 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:180px;
  width:206px;
  height:30px;
  display:flex;
}
#u19592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19593 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:180px;
  width:495px;
  height:30px;
  display:flex;
}
#u19593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:100px;
  height:30px;
  display:flex;
}
#u19594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19595 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:210px;
  width:206px;
  height:30px;
  display:flex;
}
#u19595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19596 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:210px;
  width:495px;
  height:30px;
  display:flex;
}
#u19596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:100px;
  height:30px;
  display:flex;
}
#u19597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19598 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:240px;
  width:206px;
  height:30px;
  display:flex;
}
#u19598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19599 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:240px;
  width:495px;
  height:30px;
  display:flex;
}
#u19599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:100px;
  height:30px;
  display:flex;
}
#u19600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19601 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:270px;
  width:206px;
  height:30px;
  display:flex;
}
#u19601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19602 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:270px;
  width:495px;
  height:30px;
  display:flex;
}
#u19602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:30px;
  display:flex;
}
#u19603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19604 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:300px;
  width:206px;
  height:30px;
  display:flex;
}
#u19604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19605 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:300px;
  width:495px;
  height:30px;
  display:flex;
}
#u19605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:100px;
  height:30px;
  display:flex;
}
#u19606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19607 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:330px;
  width:206px;
  height:30px;
  display:flex;
}
#u19607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19608 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:330px;
  width:495px;
  height:30px;
  display:flex;
}
#u19608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:100px;
  height:30px;
  display:flex;
}
#u19609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19610 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:360px;
  width:206px;
  height:30px;
  display:flex;
}
#u19610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19611 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:360px;
  width:495px;
  height:30px;
  display:flex;
}
#u19611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:100px;
  height:30px;
  display:flex;
}
#u19612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19613 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:390px;
  width:206px;
  height:30px;
  display:flex;
}
#u19613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19614 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:390px;
  width:495px;
  height:30px;
  display:flex;
}
#u19614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:100px;
  height:30px;
  display:flex;
}
#u19615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19616 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:420px;
  width:206px;
  height:30px;
  display:flex;
}
#u19616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19617 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:420px;
  width:495px;
  height:30px;
  display:flex;
}
#u19617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:100px;
  height:30px;
  display:flex;
}
#u19618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19619 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:450px;
  width:206px;
  height:30px;
  display:flex;
}
#u19619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19620 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:450px;
  width:495px;
  height:30px;
  display:flex;
}
#u19620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:100px;
  height:30px;
  display:flex;
}
#u19621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19622 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:480px;
  width:206px;
  height:30px;
  display:flex;
}
#u19622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19623 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:480px;
  width:495px;
  height:30px;
  display:flex;
}
#u19623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:100px;
  height:30px;
  display:flex;
}
#u19624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u19625 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:510px;
  width:206px;
  height:30px;
  display:flex;
}
#u19625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u19626 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:510px;
  width:495px;
  height:30px;
  display:flex;
}
#u19626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
