body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-8px;
  width:801px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23216 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:801px;
  height:540px;
}
#u23217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u23217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23218 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:206px;
  height:30px;
  display:flex;
}
#u23218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23219 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:495px;
  height:30px;
  display:flex;
}
#u23219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u23220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23221 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:206px;
  height:30px;
  display:flex;
}
#u23221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23222 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:30px;
  width:495px;
  height:30px;
  display:flex;
}
#u23222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u23223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23224 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:206px;
  height:30px;
  display:flex;
}
#u23224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23225 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:60px;
  width:495px;
  height:30px;
  display:flex;
}
#u23225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
}
#u23226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23227 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:206px;
  height:30px;
  display:flex;
}
#u23227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23228 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:90px;
  width:495px;
  height:30px;
  display:flex;
}
#u23228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
}
#u23229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23230 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:206px;
  height:30px;
  display:flex;
}
#u23230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23231 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:120px;
  width:495px;
  height:30px;
  display:flex;
}
#u23231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
  display:flex;
}
#u23232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23233 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:150px;
  width:206px;
  height:30px;
  display:flex;
}
#u23233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23234 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:150px;
  width:495px;
  height:30px;
  display:flex;
}
#u23234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:30px;
  display:flex;
}
#u23235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23236 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:180px;
  width:206px;
  height:30px;
  display:flex;
}
#u23236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23237 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:180px;
  width:495px;
  height:30px;
  display:flex;
}
#u23237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:100px;
  height:30px;
  display:flex;
}
#u23238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23239 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:210px;
  width:206px;
  height:30px;
  display:flex;
}
#u23239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23240 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:210px;
  width:495px;
  height:30px;
  display:flex;
}
#u23240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:100px;
  height:30px;
  display:flex;
}
#u23241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23242 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:240px;
  width:206px;
  height:30px;
  display:flex;
}
#u23242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23243 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:240px;
  width:495px;
  height:30px;
  display:flex;
}
#u23243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:100px;
  height:30px;
  display:flex;
}
#u23244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23245 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:270px;
  width:206px;
  height:30px;
  display:flex;
}
#u23245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23246 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:270px;
  width:495px;
  height:30px;
  display:flex;
}
#u23246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:30px;
  display:flex;
}
#u23247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23248 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:300px;
  width:206px;
  height:30px;
  display:flex;
}
#u23248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23249 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:300px;
  width:495px;
  height:30px;
  display:flex;
}
#u23249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:100px;
  height:30px;
  display:flex;
}
#u23250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23251 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:330px;
  width:206px;
  height:30px;
  display:flex;
}
#u23251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23252 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:330px;
  width:495px;
  height:30px;
  display:flex;
}
#u23252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:100px;
  height:30px;
  display:flex;
}
#u23253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23254 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:360px;
  width:206px;
  height:30px;
  display:flex;
}
#u23254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23255 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:360px;
  width:495px;
  height:30px;
  display:flex;
}
#u23255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:100px;
  height:30px;
  display:flex;
}
#u23256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23257 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:390px;
  width:206px;
  height:30px;
  display:flex;
}
#u23257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23258 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:390px;
  width:495px;
  height:30px;
  display:flex;
}
#u23258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:100px;
  height:30px;
  display:flex;
}
#u23259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23260 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:420px;
  width:206px;
  height:30px;
  display:flex;
}
#u23260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23261 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:420px;
  width:495px;
  height:30px;
  display:flex;
}
#u23261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:100px;
  height:30px;
  display:flex;
}
#u23262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23263 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:450px;
  width:206px;
  height:30px;
  display:flex;
}
#u23263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23264 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:450px;
  width:495px;
  height:30px;
  display:flex;
}
#u23264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:100px;
  height:30px;
  display:flex;
}
#u23265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23266 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:480px;
  width:206px;
  height:30px;
  display:flex;
}
#u23266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23267 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:480px;
  width:495px;
  height:30px;
  display:flex;
}
#u23267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:100px;
  height:30px;
  display:flex;
}
#u23268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u23269 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:510px;
  width:206px;
  height:30px;
  display:flex;
}
#u23269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:30px;
}
#u23270 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:510px;
  width:495px;
  height:30px;
  display:flex;
}
#u23270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
