body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1359px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:405px;
}
#u31611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:405px;
  display:flex;
}
#u31611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:462px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31612 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:440px;
  width:1311px;
  height:462px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31612 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31612_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
