body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2240px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u37404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2240px;
  height:1211px;
}
#u37404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2240px;
  height:1211px;
  display:flex;
}
#u37404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37405 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:371px;
  width:174px;
  height:96px;
  display:flex;
}
#u37405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u37406 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1243px;
  width:153px;
  height:26px;
  display:flex;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u37406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37407 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:467px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u37407_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:393px;
}
#u37407_seg1 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:383px;
  width:166px;
  height:10px;
}
#u37407_seg2 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:383px;
  width:10px;
  height:393px;
}
#u37407_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u37407_text {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:380px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u37408 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1287px;
  width:500px;
  height:170px;
  display:flex;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u37408 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u37408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:214px;
}
#u37409 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:1256px;
  width:542px;
  height:214px;
  display:flex;
}
#u37409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1897px;
  height:922px;
}
#u37410 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1571px;
  width:1897px;
  height:922px;
  display:flex;
}
#u37410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37411 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1372px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u37411_seg0 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-5px;
  width:129px;
  height:10px;
}
#u37411_seg1 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-5px;
  width:10px;
  height:670px;
}
#u37411_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:655px;
  width:129px;
  height:10px;
}
#u37411_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:651px;
  width:19px;
  height:18px;
}
#u37411_text {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:295px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
