body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:565px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:294px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:294px;
  display:flex;
  opacity:0.3;
}
#u29819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u29821 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:45px;
  width:483px;
  height:204px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u29821 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u29821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u29822 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:114px;
  width:444px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u29822 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:294px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:565px;
  height:294px;
  display:flex;
  opacity:0.3;
}
#u29823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u29825 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:363px;
  width:483px;
  height:204px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u29825 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u29825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u29826 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:432px;
  width:444px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u29826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
