body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1029px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:503px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:503px;
  display:flex;
  opacity:0.3;
}
#u17712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:246px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u17714 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:67px;
  width:420px;
  height:246px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u17714 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u17714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u17715 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:84px;
  width:12px;
  height:12px;
  display:flex;
  opacity:0.6;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u17716 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:100px;
  width:420px;
  height:68px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u17716 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 15px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u17716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17717 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:273px;
  width:54px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17717 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u17717_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17717.mouseOver {
}
#u17717_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17718 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:273px;
  width:54px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17718 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u17718_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17718.mouseOver {
}
#u17718_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u17721 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:161px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u17721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 226, 232, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17723 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:189px;
  width:397px;
  height:64px;
  display:flex;
}
#u17723 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9CED6;
  text-align:left;
  line-height:20px;
}
#u17725 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:195px;
  width:129px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9CED6;
  text-align:left;
  line-height:20px;
}
#u17725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u17726 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:534px;
  width:80px;
  height:26px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u17726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17726_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u17727 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:573px;
  width:500px;
  height:62px;
  display:flex;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u17727 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u17727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17728 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:313px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u17728_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:226px;
}
#u17728_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u17728_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:102px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:387px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 2px 12px rgba(0, 0, 0, 0.117647058823529);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u17730 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:67px;
  width:420px;
  height:387px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u17730 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u17730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u17731 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:84px;
  width:12px;
  height:12px;
  display:flex;
  opacity:0.6;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u17732 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:100px;
  width:420px;
  height:68px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u17732 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 15px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u17732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17733 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:409px;
  width:54px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17733 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u17733_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17733.mouseOver {
}
#u17733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17734 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:409px;
  width:54px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17734 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u17734_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u17734.mouseOver {
}
#u17734_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u17737 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:161px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u17737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 226, 232, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17739 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:189px;
  width:397px;
  height:64px;
  display:flex;
}
#u17739 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9CED6;
  text-align:left;
  line-height:20px;
}
#u17741 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:195px;
  width:129px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9CED6;
  text-align:left;
  line-height:20px;
}
#u17741 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u17744 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:277px;
  width:340px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u17744 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 244, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u17746 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:312px;
  width:89px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u17746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(243, 246, 251, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17747 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:337px;
  width:89px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(243, 246, 251, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17748 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:364px;
  width:89px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 244, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u17750 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:312px;
  width:308px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u17750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(243, 246, 251, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17751 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:337px;
  width:308px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(243, 246, 251, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17752 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:364px;
  width:308px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
