body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1493px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1493px;
  height:799px;
}
#u20575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1493px;
  height:799px;
  display:flex;
}
#u20575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:76px;
}
#u20576 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:94px;
  width:144px;
  height:76px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u20576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
