body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1493px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1493px;
  height:799px;
}
#u16932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1493px;
  height:799px;
  display:flex;
}
#u16932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:76px;
}
#u16933 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:94px;
  width:144px;
  height:76px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u16933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
