body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-33px;
  width:1404px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u41516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41516 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:37px;
  width:221px;
  height:53px;
  display:flex;
}
#u41516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41517 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:37px;
  width:221px;
  height:53px;
  display:flex;
}
#u41517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:257px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41518 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:116px;
  width:1404px;
  height:257px;
  display:flex;
}
#u41518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41519 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:37px;
  width:221px;
  height:53px;
  display:flex;
}
#u41519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:53px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41520 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:148px;
  width:1338px;
  height:53px;
  display:flex;
}
#u41520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:53px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41521 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:218px;
  width:1338px;
  height:53px;
  display:flex;
}
#u41521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:53px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41522 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:288px;
  width:1338px;
  height:53px;
  display:flex;
}
#u41522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
